*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.carousel-caption{
    bottom: 220px;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:cursive;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
  
    font-family: poppins;
}
.carousel-caption a{
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}
.navbar-nav a{
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-link:hover{
    color: #262626;
}